html {
  height: 100%;
}

.note {
  display: grid;
  justify-items: center;
}

#date {
  margin-top: 10px;
}

body {
  /* background-color: #ffcdb2; */
  background-color: #fb49d5;
  height: 100%;
}

.header {
  background-color: #d32929;
  height: 120px;
}

.header,
.noteGrid {
  width: clamp(600px, 60%, 1000px);
  margin: 0 auto;
}

.appWrapped {
  position: relative;
  display: flex;
}

.noteGrid {
  flex-grow: 1;
  background-color: #00ff94;
  height: 120px;
}

.primaryButton {
  display: none;
  /* position: relative;
  float: right; */
  /* text-align: center; */
  border-radius: 20%;
  height: 35px;
  padding: 20px;
}
