*,
*::after,
*::before {
  box-sizing: border-box;
  font-style: normal;
}

body {
  background-color: #ffb4a2;
  height: 100%;
}

.header,
.noteGrid {
  width: clamp(600px, 60%, 1000px);
  margin: 0 auto;
}

.noteGrid {
  justify-content: space-around;
  min-height: 254px;
  max-height: 100%;
  background-color: #ad858d;
  color: white;
  display: flex;
  align-items: center;
}

.header {
  background-color: rgb(56, 9, 25);
  display: flex;
  justify-content: space-between;
  height: 120px;
}

.primaryButton {
  display: flex;
  border: none;
  border-radius: 20px;
  background-color: #f7cfb6;
  color: #6c6874;
  height: 35px;
  padding: 20px;
  text-align: center;
}
